###########################################################################
#                            Local Snippets                               #
###########################################################################


snippet forin "Fast enumeration"
unsigned int	${1:object}Count = [${2:array} count];

for (${1:id} element in ${2})
{
	$0
}
endsnippet
